<!doctype html>
<html lang="en">
    <head>
        <title>Información de las habitaciones</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="../gestionHabitaciones/css/style.css">

        <link rel="stylesheet" href="../static/gestionHabitaciones/css/style.css">



    </head>
    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section bolded">Información de las Reservas</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap" th:if="${bookList != null and !bookList.empty}">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nº Reserva</th>
                                        <th>Check In</th>
                                        <th>Check Out</th>
                                        <th>Personas</th>
                                        <th>Habitación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="book : ${bookList}">
                                        <td th:text="${book.book_id}" class ="bolded"></td>
                                        <td th:text="${book.check_in}"></td>
                                        <td th:text="${book.check_out}"></td>
                                        <td th:text="${book.number_people}"></td>
                                        <td th:text="${book.room.room_number}"></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>


    </body>
</html>

