<!doctype html>
<html lang="en">
    <head>
        <title>Información de las habitaciones</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="../gestionHabitaciones/css/style.css">

        <link rel="stylesheet" href="../static/gestionHabitaciones/css/style.css">

    </head>
    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section bolded">Habitaciones por limpiar</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" th:switch="${roomList != null and !roomList.empty}">
                        <div class="table-wrap" th:case="true">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nº habitación</th>
                                        <th>Estado limpieza</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="room : ${roomList}">
                                        <td th:text="${room.room_number}" class ="bolded"></td>
                                        <td>
                                            <a th:href="@{/room/editCleaning/} + ${room.room_id}" class="btn btn-danger">Eliminar</a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:case="false" class="alert alert-info" role="alert">
                            Todas las habitaciones estan limpias!
                        </div>
                    </div>
                </div>
        </section>

        <script src="js/jquery.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>

