<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Facturas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/booking/style.css">

</head>
<body>
<form th:action="@{/saveInvoice}" th:object="${invoice}" method="post">
    <!--  General -->
    <h2 class="heading" th:text="#{invoiceform.heading.message}"></h2>
    <div class="form-group">
        <div class="controls">
            <input type="date" pattern="\d{4}-\d{2}-\d{2}" id="fechaFactura" class="floatLabel" name="fechaFactura" th:field="*{invoice_date}" required>
            <label for="fechaFactura" th:text="#{invoiceform.choosedate.label}">Fecha Factura</label>
        </div>
        <div class="controls">
            <i class="fa fa-sort"></i>
            <select  id = "invoiceStatus" class="floatLabel" aria-label="Default select example" th:field="*{invoice_status}">
                <option th:value="Pagado" th:text="#{invoiceform.invoicestatus.message1}"></option>
                <option th:value="Pendiente" th:text="#{invoiceform.invoicestatustest}"></option>

            </select>
            <label for="invoiceStatus" th:text="#{invoiceform.paystatus.label}"></label>
        </div>
        <div class="col-1-2 col-1-2-sm">
            <div class="controls">
                <i class="fa fa-sort"></i>
                <select  id = "paymentMethod" class="floatLabel" aria-label="Default select example" th:field="*{pay_method}">
                    <option th:value="Tarjeta" th:text="#{invoiceform.paymentmethod.message1}"></option>
                    <option th:value="Efectivo" th:text="#{invoiceform.paymentmethod.message2}"></option>
                    <option th:value="Transferencia" th:text="#{invoiceform.paymentmethod.message3}"></option>
                    <option th:value="Bitcoin" th:text="#{invoiceform.paymentmethod.message4}"></option>
                </select>
                <label for="paymentMethod" th:text="#{invoiceform.paymentmethod.label}"></label>
            </div>
        </div>
        <div class="col-1-2 col-1-2-sm">
            <div class="controls">
                <i class="fa fa-sort"></i>
                <select  class="floatLabel"  aria-label="Default select example"th:field="*{invoice_id}">
                    <option th:each="book : ${books_list}" th:value="${book.getBook_id()}" th:text="${book.getBook_id()}">
                    </option>
                </select>
                <label for="fruit" th:text="#{invoiceform.choosebook.message}"></label>
            </div>
        </div>
    </div>
    <div class="controls">
        <button type="submit"  value="Submit" style="color:white" >
            <strong th:text="#{invoiceform.savebutton.message}"></strong></button>
    </div>
    </div>
</form>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://raw.githubusercontent.com/andiio/selectToAutocomplete/master/jquery-ui-autocomplete.js'></script>
<script
        src='https://raw.githubusercontent.com/andiio/selectToAutocomplete/master/jquery.select-to-autocomplete.js'></script>
<script
        src='https://raw.githubusercontent.com/andiio/selectToAutocomplete/master/jquery.select-to-autocomplete.min.js'></script>
<script src="/booking/script.js"></script>

</body>

</html>