<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>ERP Hotel - Sistema de gestión empresarial para hoteles</title>

        <link rel="stylesheet" href="/dashboardStyle.css">
    </head>
    <body>
        <h1>Bienvenido/a a ERP Hotel</h1>
        <p>Estamos encantados de presentarle nuestro sistema de gestión empresarial (ERP) especialmente diseñado para hoteles. Nuestro software ofrece una solución completa y personalizable para ayudar a administrar y optimizar todas las operaciones de su hotel.</p>
        <h2>Funcionalidades del ERP Hotel</h2>
        <ul>
            <li>Gestión de reservas</li>
            <li>Administración de inventario</li>
            <li>Facturación y contabilidad</li>
            <li>Gestión de empleados</li>
            <li>Informes y análisis</li>
        </ul>
        <p>Nuestro ERP Hotel está diseñado para ser fácil de usar y se adapta a las necesidades específicas de cada hotel. Además, ofrecemos soporte técnico y asesoramiento personalizado para garantizar que nuestros clientes aprovechen al máximo nuestro software.</p>
        <p>¡No dude en ponerse en contacto con nosotros para obtener más información sobre cómo nuestro ERP Hotel puede ayudar a su hotel a alcanzar sus objetivos empresariales!</p>
    </body>
</html>


