<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>ERPHotel</title>
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
        <link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
        <link rel='stylesheet'
              href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
        <link rel="stylesheet" href="/homeStyle.css">

    </head>

    <body>
        <!-- partial:index.partial.html -->
        <div class="layout has-sidebar fixed-sidebar fixed-header">
            <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
                <a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
                <div class="image-wrapper">
                    <img src="assets/images/sidebar-bg.jpg" alt="sidebar background" />
                </div>
                <div class="sidebar-layout">
                    <div class="sidebar-header">
                        <div class="pro-sidebar-logo">
                            <div>ERP</div>
                            <h2>Hotel</h2>
                        </div>
                    </div>
                    <div class="sidebar-content">
                        <nav class="menu open-current-submenu">
                            <ul>
                                <li class="menu-header"><span>GENERAL</span></li>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-icon">
                                            <i class="ri-dashboard-fill"></i>
                                        </span>
                                        <span id="btn_dashboard" class="menu-title">Dashboard</span>
                                    </a>
                                </li>
                                <li class="menu-item sub-menu">
                                    <a href="#">
                                        <span class="menu-icon">
                                            <i class="ri-contacts-book-2-fill"></i>
                                        </span>
                                        <span class="menu-title">Clientes</span>
                                        <span class="menu-suffix">
                                            <span class="badge primary">Crypto Zone</span>
                                        </span>
                                    </a>
                                    <div class="sub-menu-list">
                                        <ul>
                                            <li class="menu-item">
                                                <a href="#">
                                                    <span id="btn_addBooking" class="menu-title">Añadir Reserva</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">
                                                    <span id="btn_books" class="menu-title">Reservas</span>
                                                </a>
                                            </li>
                                            <li class="menu-item sub-menu">
                                                <div class="sub-menu-list">
                                                    <ul>
                                                        <li class="menu-item">
                                                            <a href="#">
                                                                <span class="menu-title">Input</span>
                                                            </a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">
                                                                <span class="menu-title">Select</span>
                                                            </a>
                                                        </li>
                                                        <li class="menu-item sub-menu">
                                                            <a href="#">
                                                                <span class="menu-title">More</span>
                                                            </a>
                                                            <div class="sub-menu-list">
                                                                <ul>
                                                                    <li class="menu-item">
                                                                        <a href="#">
                                                                            <span class="menu-title">CheckBox</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="menu-item">
                                                                        <a href="#">
                                                                            <span class="menu-title">Radio</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="menu-item sub-menu">
                                                                        <a href="#">
                                                                            <span class="menu-title">Want more ?</span>
                                                                            <span class="menu-suffix">&#x1F914;</span>
                                                                        </a>
                                                                        <div class="sub-menu-list">
                                                                            <ul>
                                                                                <li class="menu-item">
                                                                                    <a href="#">
                                                                                        <span class="menu-prefix">&#127881;</span>
                                                                                        <span class="menu-title">You made it </span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="menu-item sub-menu">
                                    <a href="#">
                                        <span class="menu-icon">
                                            <i class="ri-money-euro-box-line"></i>
                                        </span>
                                        <span class="menu-title">Facturación</span>
                                    </a>
                                    <div class="sub-menu-list">
                                        <ul>
                                            <li class="menu-item">
                                                <a href="#">
                                                    <span id="btn_invoices" class="menu-title">Gestionar Facturas</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="menu-item sub-menu">
                                    <a href="#">
                                        <span class="menu-icon">
                                            <i class="ri-home-5-line"></i>
                                        </span>
                                        <span class="menu-title">Habitaciones</span>
                                    </a>
                                    <div class="sub-menu-list">
                                        <ul>
                                            <li class="menu-item" sec:authorize="hasAnyAuthority('staff')">
                                                <a href="#">
                                                    <span id="btn_addRoom" class="menu-title">Añadir habitación</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">
                                                    <span id="btn_statusRoom" class="menu-title">Estado de habitaciones</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">
                                                    <span id="btn_cleaningStatus" class="menu-title">Estado de la limpieza</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="menu-item sub-menu">
                                    <a href="#">
                                        <span class="menu-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                            </svg>
                                        </span>
                                        <span class="menu-title">Personas</span>
                                    </a>
                                    <div class="sub-menu-list">
                                        <ul>
                                            <li class="menu-item">
                                                <a href="#">
                                                    <span id="btn_showPersons" class="menu-title">Listado de personas</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">
                                                    <span id="btn_addPerson" class="menu-title">Añadir persona</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" sec:authorize="hasAnyAuthority('staff')">
                                                <a href="#">
                                                    <span id="btn_addEmployee" class="menu-title">Añadir trabajador</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li id="usermenu" class="menu-item sub-menu" text-align="center" style="margin-top: 100%">
                                    <a href="#">
                                        <span class="">&#127940;</span>
                                        <span class="menu-title">Usuario</span>
                                        <span class="menu-suffix">
                                            <span class="badge secondary">Y si nos vamos al rust...</span>
                                        </span>
                                    </a>
                                    <div class="sub-menu-list">
                                        <ul>
                                            <li class="menu-item">
                                                <a href="#">
                                                    <span class="menu-title" id="btn_userProfil">Perfil de usuario</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">
                                                    <span class="menu-title">Cerrar sesión</span>
                                                </a>
                                                <form id="logout-form" th:action="@{/logout}" method="POST" style="display:none;">
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            <div id="overlay" class="overlay"></div>
            <div class="layout">
                <main class="content">
                    <div>
                        <a id="btn-toggle" href="#" class="sidebar-toggler break-point-sm">
                            <i class="ri-menu-line ri-xl"></i>
                        </a>
                    </div>
                    <div class="content" id="ModuleWidget">
                    </div>
                </main>
                <div class="overlay"></div>
            </div>
        </div>
        <!-- partial -->
        <script src='https://unpkg.com/@popperjs/core@2'></script>
        <script src="/homeScript.js"></script>
        <script src="/functions/widgets.js"></script>
        <script>
                                                    const usermenu = document.querySelector('#usermenu');
                                                    const usermenuLink = usermenu.querySelector('a');
                                                    const subMenu = usermenu.querySelector('.sub-menu-list');
                                                    let isSubMenuOpen = false;

                                                    usermenuLink.addEventListener('click', (event) => {
                                                        event.preventDefault();
                                                        usermenu.style.marginTop = '50%';
                                                        if (isSubMenuOpen) {
                                                            usermenu.style.marginTop = '100%';
                                                            subMenu.style.display = 'none';
                                                            isSubMenuOpen = false;
                                                        } else {
                                                            subMenu.style.display = 'block';
                                                            isSubMenuOpen = true;
                                                        }
                                                    });
        </script>

    </body>

</html>