<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./booking/style.css">

</head>

<body>

  <form action="/processFormBooking" method="POST">
    <!--  General -->
    <h2 class="heading">Reserva</h2>
    <div class="form-group">
      <div class="grid">
        <div class="col-1-4">
          <div class="controls">
            <input type="text" id="name" class="floatLabel" name="name" required>
            <label for="name">Nombre</label>
          </div>
        </div>
        <div class="col-1-4">
          <div class="controls">
            <input type="text" id="surname" class="floatLabel" name="surname" required>
            <label for="name">Apellidos</label>
          </div>
        </div>
        <div class="col-1-4">
          <div class="controls">
            <i class="fa fa-sort"></i>
            <select class="floatLabel" name="nonselected" id="guestSelection">
              <option value="blank" selected>Sin seleccionar</option>
              <option th:each="persona : ${personas}" 
              th:value="${persona.person_id}"
              th:name="${persona.name}"
              th:surname="${persona.surname}"
              th:phone_number="${persona.phone_number}"
              th:dni="${persona.dni}"
              th:text="${persona.name} + ' ' + ${persona.surname}"></option>
            </select>
            <label for="fruit">Cliente</label>
          </div>
        </div>
      </div>
      <div class="controls">
        <input type="tel" id="phone" class="floatLabel" name="phone_number" required>
        <label for="phone">Teléfono</label>
      </div>
      <div class="controls">
        <input type="text" id="dni" class="floatLabel" name="dni" required>
        <label for="dni">DNI</label>
      </div>
    </div>
    <!--  Details -->
    <div class="form-group">
      <h2 class="heading">Detalles</h2>
      <div class="grid">
        <div class="col-1-4 col-1-4-sm">
          <div class="controls">
            <input type="date" id="arrive" class="floatLabel" name="check_in" value="<?php echo date('Y-m-d'); ?>" required>
            <label for="arrive" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Llegada</label>
          </div>
        </div>
        <div class="col-1-4 col-1-4-sm">
          <div class="controls">
            <input type="date" id="depart" class="floatLabel" name="check_out" value="<?php echo date('Y-m-d'); ?>" required/>
            <label for="depart" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Salida</label>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="col-1-3 col-1-3-sm">
          <div class="controls">
            <i class="fa fa-sort"></i>
            <select class="floatLabel" name="number_people" required>
              <option value="">Selecciona</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
            <label for="fruit"><i class="fa fa-male"></i>&nbsp;&nbsp;Personas</label>
          </div>
        </div>
        <div class="col-1-3 col-1-3-sm">
          <div class="controls">
            <i class="fa fa-sort"></i>
            <select class="floatLabel" name="room_type" required>
              <option value="">Selecciona</option>
              <option value="Habitación matrimonial">Habitación matrimonial</option>
              <option value="Habitación familiar">Habitación familiar</option>
              <option value="Habitación compartida">Habitación compartida</option>
              <option value="Suite principal">Suite principal</option>
            </select>
            <label for="fruit">Habitación</label>
          </div>
        </div>

        <div class="col-1-3 col-1-3-sm">
          <div class="controls">
            <i class="fa fa-sort"></i>
            <select class="floatLabel" name="pension" required>
              <option value="">Selecciona</option>
              <option value="single-bed">Alojamiento</option>
              <option value="double-bed">Alojamiento y Desayuno</option>
              <option value="double-bed">Media Pensión</option>
              <option value="double-bed">Pensión Completa</option>
              <option value="double-bed">Todo Incluido</option>
              <option value="double-bed">Según Programa</option>
            </select>
            <label for="fruit">Pensión</label>
          </div>
        </div>

      </div>
      <div class="grid">
        <p class="info-text">Indicaciones extras y/o necesidades</p>
        <br>
        <div class="controls">
          <textarea name="comments" class="floatLabel" id="comments"></textarea>
          <label for="comments">Comentarios</label>
        </div>
        <button type="submit" value="Submit" class="col-1-4">Finalizar</button>
      </div>
    </div> <!-- /.form-group -->
  </form>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://raw.githubusercontent.com/andiio/selectToAutocomplete/master/jquery-ui-autocomplete.js'></script>
  <script
    src='https://raw.githubusercontent.com/andiio/selectToAutocomplete/master/jquery.select-to-autocomplete.js'></script>
  <script
    src='https://raw.githubusercontent.com/andiio/selectToAutocomplete/master/jquery.select-to-autocomplete.min.js'></script>
  <script src="/booking/script.js"></script>

</body>

</html>