<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>facturasabp</title>
    <link rel="stylesheet" href="/invoiceManager/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/invoiceManager/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/invoiceManager/css/Billing-Table-with-Add-Row--Fixed-Header-Feature.css">
    <link rel="stylesheet" href="/invoiceManager/css/Table-With-Search-search-table.css">
    <link rel="stylesheet" href="/invoiceManager/css/Table-With-Search.css">
</head>

<body>
    <div class="col-md-12 search-table-col">
        <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control" placeholder="Escribe aqui un id para buscar"></div><span class="counter pull-right"></span>
        <div class="table-responsive table table-hover table-bordered results">
            <a th:href="@{/newInvoice}" class="btn btn-primary">Crear Nueva Factura</a>
            <table class="table table-hover table-bordered">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd-1" class="col-lg-1">ID Factura</th>
                        <th id="trs-hd-2" class="col-lg-2">Fecha Factura</th>
                        <th id="trs-hd-3" class="col-lg-3">Estado</th>
                        <th id="trs-hd-4" class="col-lg-2">Cantidad</th>
                        <th id="trs-hd-5" class="col-lg-2">Método de pago</th>
                        <th id="trs-hd-6" class="col-lg-2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="warning no-result">
                        <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                    </tr>
                    <tr th:each="invoice:${invoices}">
                        <td th:text="${invoice.invoice_id}"></td>
                        <td th:text="${invoice.invoice_date}"></td>
                        <td th:text="${invoice.invoice_status}"></td>
                        <td th:text="${invoice.invoice_quantity}"></td>
                        <td th:text="${invoice.pay_method}"></td>
                        <td>
                            <a th:href="@{/editInvoice/} + ${invoice.invoice_id}" class="btn btn-success">Modificar</a>
                            <button class="btn btn-danger" style="margin-left: 5px" type="button">
                                Eliminar
                            </button>

                            <button class="btn btn-info" style="margin-left: 5px" type="button">
                                Ver líneas
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="/invoiceManager/bootstrap/js/bootstrap.min.js"></script>
    <script src="/invoiceManager/js/Billing-Table-with-Add-Row--Fixed-Header-Feature-Billing-Table-with-Add-Row--Fixed-Header.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/invoiceManager/js/Table-With-Search-search-table.js"></script>
</body>

</html>